*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    padding-top: 20px;
    color: blue;
    margin-bottom: 10px;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.divForm,
.divTable{
    border: 1px solid;
}
.divForm{
    width: 500px;
    height: 400px;
}
.divTable{
    width: 900px;
    height: 400px;
}
.divForm h2{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}
.divForm label{
    padding-left: 20px;
}
#studentId,
#studentName,
#email,
#address,
#phone{
    padding: 5px 70px 5px 0;
    margin-bottom: 20px;
}
#studentId{
    margin-left: 30px;
}
#studentName{
    margin-left: 50px;
}
#email{
    margin-left: 78px;
}
#phone{
    margin-left: 23px;
}
#address{
    margin-left: 43px;
}
#male{
    margin-left: 50px;
}
.divForm input[type=submit]{
    padding: 5px 70px;
    margin-left: 135px;
    margin-top: 20px;
}
.divTable h2{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}
.divTable label{
    padding-left: 20px;
}
#search{
    padding: 5px 70px;
}
.divTable>input[type=submit]{
    padding: 5px 10px;
}
table{
    margin-left: 20px;
    margin-top: 20px;
}